bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Avalon.Server/.idea/

.vs/Avalon.Server/FileContentIndex/

.vs/Avalon.Server/v17/

.vs/ProjectEvaluation/

.vs/Avalon.Server/DesignTimeBuild/

certificates/*
certificates/

.mgstats

.idea/.idea.Avalon/.idea/aws.xml

Avalon.sln.DotSettings.user

.vs/Avalon/v17/

.vs/Avalon/FileContentIndex/

.vs/Avalon/DesignTimeBuild/

.idea/.idea.Avalon/.idea/kubernetes-settings.xml

src/Web/dashboard/.idea/

src/Client/Avalon.Client.Simulator/BenchmarkDotNet.Artifacts/

.idea/.idea.Avalon/.idea/
