[submodule "vendor/hazel-networking"]
	path = vendor/hazel-networking
	url = https://github.com/willardf/Hazel-Networking
[submodule "vendor/Facepunch.Steamworks"]
	path = vendor/Facepunch.Steamworks
	url = https://github.com/WoozChucky/Facepunch.Steamworks
