bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Avalon.Server/.idea/

.vs/Avalon.Server/FileContentIndex/

.vs/Avalon.Server/v17/

.vs/ProjectEvaluation/

.vs/Avalon.Server/DesignTimeBuild/

certificates/*
certificates/
